
*
{box-sizing: border-box;

  
 }
 
 input[type=text]#email, textarea #email {
   width: 310px;
   border: 30px solid aqua ;
   border-left: 5px solid #000;
   border-right: 5px solid #000;
   border-bottom: 15px solid  #f9f002;
   clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px calc(100% - 0px), 0% calc(100% - 10px));
   padding: 12px;
   font-family:"Michroma"
 }

 #email
 {
   margin-bottom: 20px;
 }
.new, .new::after {
   width: 200px;
   height: 46px;
   font-size: 20px;
   background: linear-gradient(45deg, transparent 5%,  #f9f002 5%);
   border: 0;
   color:#000;
   letter-spacing: 3px;
   line-height: 44px;
   box-shadow: 6px 0px 0px #00E6F6;
   outline: transparent;
   position: relative;
   margin-top:20px;
   font-family:"Michroma"
}

#send, #send::after {
   width: 300px;
   height: 46px;
   font-size: 20px;
   background: linear-gradient(45deg, transparent 5%,   #00E6F6 5%);
   border: 0;
   color: #000;
   letter-spacing: 3px;
   line-height: 44px;
   box-shadow: 6px 0px 0px#f9f002;
   outline: transparent;
   position: relative;
   margin-top:20px;
   font-family:"Michroma"
}

.text-box
{
   
   word-wrap: break-word;

}

.selected-image
{
   word-wrap: break-word;

   font-size:13px;
}
#save, #save::after {

   width: 300px;
   height: 88px;
   font-size: 15px;
   background: linear-gradient(45deg, transparent 5%,  #f9f002 5%);
   border: 0;
   color: #000;
   letter-spacing: 4px;
   line-height: 14px;
   box-shadow: 6px 0px 0px #00E6F6;
   outline: transparent;
   position: relative;
   margin-top:20px;
   margin-bottom:20px;
   font-family:"Michroma"
}




  #select
  {
   margin-bottom:20px;
   margin-top:20px;
 
  }
 .selected-image
 {
    

    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
 }
 
.selected-image img
{
    margin-top:20px;
}

hr
{
    width:100%;
    
}
 .border
 {
    margin-bottom:110px;
 }

.image
{
    position: relative;
    width:200px;
    height:200px;

    opacity:100%;
  

  
}

.image-back
{
   width:100%;
   height:100%;
   overflow-x: hidden;
   overflow-y: hidden;
 

 
}

main
{
    display:flex;
    flex-direction: column;
    position:absolute;
    top:50px;
    width:90%;
    height:100%;
    margin-left:4%;
    padding-right:4%;
    padding-left:4%;
    background-color: rgba($color: purple, $alpha: 0.4);
    border-color: aqua;
    border-style: solid;
    border-width:5px;
    overflow-y:auto;
  
     
   
   
    


    
  
}

.neon
{
    text-shadow: 0 0 3vw #F4BD0A;
    animation: flux 2s linear infinite;
    color: yellow;
    font-size: 40px;
    font-family: 'Michroma';
  

}
.flux
{
    text-shadow: 0 0 3vw #179e05;
    animation: flux 2s linear infinite;
}



@keyframes neon
 {
    0%, 100%
    {
      text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16,
      00 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, 
      .5vw .5vw .1vw #806914;   
    }

    50%
    {
        text-shadow: 0 0 .5vw #800E0B,  0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 
        0 0 .2vw #800E0B, .5vw .5vw .1vw #40340a;
    }
 }

  @keyframes flux
 {
    0%, 100%
    {
        text-shadow: 0 0 1vw #10ff4c, 0 0 3vw #10ff4c, 0 0 10vw #10ff4c, 0 0 10vw #10ff4c, 0 0 .4vw #8bfdfe,
         .5vw .5vw .1vw #147280;
    }

    50%
    {
        text-shadow: 0 0 .5vw #024218, o o 1.5vw #024713, 0 0 5vw #023812,
         0 0 5vw #012707, 0 0 .2vw #022201, .5vw .5vw .1vw #011a06, ;
    }
 }

 .title
 {
    text-align: center;
 }

 .border {
    margin-top:10px;
    margin-bottom: 60px;
    padding: 5px;
    position: relative;
    font-size: 1.2rem;
    color:  black;
    border: 30px solid  #f9f002;
    border-right: 5px solid  #f9f002;
    border-left: 5px solid  #f9f002;
    border-bottom: 24px solid  #f9f002;
    background-color: aqua;
    clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
  }
  .border:before {

    display: block;
    position: absolute;
    top: -18px;
    right: 195px;
    padding: 2px 2px 0px 2px;
    font-size: 25px;
    line-height: 0.6rem;
    color: #000;
    background-color:  #f9f002;
    border-left: 2px solid #8ae66e;
  }

   .selected-image img
  {
    border-color: #000;
    border-width: 5px;
    border-style: solid;
 }

 hr
 {
    
    height:20px;
    background-color: red;
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
   
 }
 
